<!-- Begin of the Header -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title>{title}</title>
	<script src="js/jquery-1.8.3.min.js"></script>
	<link href="styles/bootstrap.min.css" rel="stylesheet">
	<link href="styles/main.css" rel="stylesheet">
	 <link href="styles/carousel.css" rel="stylesheet">
</head>
<body class="window">

<div class="header">
	<div class="logoBar">
		<a href="home.php"><img src="{logo}" class="logo" alt="logo" display="block"></a>
	</div>
	<div class="navBar">
		<div class="nav_wrap">
			<ul class="nav_con">
				<li id="home"><a href="home.php" title="首页">首页</a></li>
				<li id="product"><a href="product.php" title="产品介绍">产品介绍</a></li>
				<li id="contact"><a href="contact.php" title="联系方式">联系方式</a></li>
				<li id="apply"><a href="apply.php" title="在线申请">在线申请</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- End of the Header -->