<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{title}</title>
	<link rel="stylesheet" href="styles/admin.css">
	<link rel="stylesheet" href="kindeditor-4.1.10/themes/default/default.css" />
</head>
<body>
	<div class="header">
		<div class="logo">
			<p class="title">管理后台</p>
		</div>
		<div class="nav">
			<ul>
				<li><a href="update_info.php" id="update_info">上传信息</a></li>
				<li><a href="update_pages.php" id="update_pages">上传页面</a></li>
				<li><a href="customers.php" id="customers">客户列表</a></li>
				<span class="logout"><a href="logout.php">退出帐号</a></span>
			</ul>
		</div>
	</div>

